<section class="banner">
    <owl-carousel-o [options]="bannerSlider">
        <ng-template carouselSlide>
            <img src="../../../../assets/header/b1.jpg" alt="b1">
        </ng-template>  
        <ng-template carouselSlide>
            <img src="../../../../assets/header/b2.jpg" alt="b2">
        </ng-template>  
        <ng-template carouselSlide>
            <img src="../../../../assets/header/b3.jpg" alt="b3">
        </ng-template>  
        <ng-template carouselSlide>
            <img src="../../../../assets/header/b4.jpg" alt="b4">
        </ng-template>  
        <ng-template carouselSlide>
            <img src="../../../../assets/header/b5.jpg" alt="b5">
        </ng-template>  
        <ng-template carouselSlide>
            <img src="../../../../assets/header/b6.jpg" alt="b6">
        </ng-template> 
      </owl-carousel-o>
</section> 